@model IEnumerable<Elective.Models.Subject>
@{
    ViewBag.Title = "Subjects";
}
<style>
    td{
        margin-right:10px;
    }
</style>
<h2>Subjects</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Course</th>
            <th scope="col">Sphere</th>
            <th scope="col">Instructor First Name</th>
            <th scope="col">Instructor Last Name</th>
            <th scope="col">Course status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Subject_name</td>
                <td>@item.Topic</td>
                <td>@item.Instructor_Firstname</td>
                <td>@item.Instructor_Lastname</td>
                <td>@item.Course_status</td>
            </tr>
        }
        </tbody>
</table>

